<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ligas"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{league?.name}}
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>INVITA NUEVOS MIEMBROS</ion-card-title>
      <ion-card-subtitle>Comparte la liga con amigos y demuestra quién sabe más de pádel</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="league-actions">
        <ion-button class="action-button" (click)="shareLeague()">
          <ion-icon name="logo-whatsapp"></ion-icon> COMPARTIR LIGA
        </ion-button>
        <ion-button class="action-button1" (click)="copyToClipboard()">COPIAR CÓDIGO</ion-button>        
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title>EQUIPOS</ion-card-title>
        <ion-card-subtitle>Clasificación general actual de los participantes de la liga</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <div *ngFor="let user of leagueUsers; index as i">
            <ion-card class="clasificacion">
                <ion-card-header>
                    <ion-row>
                        <ion-col size="2">
                            <ion-card-subtitle>#{{i + 1}}</ion-card-subtitle>
                        </ion-col>
                        <ion-col size="6">
                            <ion-card-title class="nameRanking">{{user.first_name}}</ion-card-title>
                        </ion-col>
                        <ion-col size="4">
                          <ion-card-subtitle class="points">Puntos: {{user.userPoints}}</ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
            </ion-card>
        </div>
    </ion-card-content>
</ion-card>

</ion-content>
