<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Torneos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center ion-padding">
      <ion-row>
        <ion-col>
          <h1>Esta página está en construcción</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="../../../assets/slides/enConstruccion.jpg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<!-- MENU-->




