<!-- MENU-->
<ion-menu contentId="main-content" class="menuDesplegable">
    <div class="divHeader">
        <ion-header>
            <ion-toolbar mode="ios">
                <ion-title class="tituloMenu">Menú</ion-title>
            </ion-toolbar>
        </ion-header>
    </div>
    <ion-content class="ion-padding">
        <ion-list>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/perfil">
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                    <ion-label>Perfil</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/ligas">
                    <ion-icon name="ribbon-outline" slot="start"></ion-icon>
                    <ion-label>Ligas</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/torneos">
                    <ion-icon name="trophy-outline" slot="start"></ion-icon>
                    <ion-label>Torneos</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/mercado">
                    <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon>
                    <ion-label>Mercado</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/login">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    <ion-label>Cerrar sesión</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title class="tituloPagina">Inicio</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <div class="div1">
            <h1 class="titulo">MI PLANTILLA</h1><br>
            <p class="parrafoCards">Esta tu plantilla con tus jugadores actuales. Puedes participar en torneos con un
                maximo de 4 jugadores, organizalos bien para no enfrentarlos entre ellos</p>

            <!--Aqui iria una barra de busqueda para buscar y filtrar jugadores-->
            <!--CARDS JUGADORES-->
            <div class="div2">
                <ion-row>
                  <ion-col size="6" *ngFor="let player of players">
                    <ion-card>
                        <div class="image-container">
                            <img src="../../../assets/slides/avatar2.jpg" class="circle-image" alt="Circular Image">
                        </div>
                      <ion-card-header>
                        <ion-card-title class="tituloCard">{{ player.name }}</ion-card-title>
                        <ion-card-title class="tituloCard">{{ player.surname }}</ion-card-title>
                        <ion-card-subtitle>Puntuación</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        Puntos: {{ player.points }}
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </div>
              
            <!--CARDS TORNEOS-->
        </div>

    </ion-content>