<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardAvatar" (click)="cambiarFotoPerfil()">
    <ion-card-header>
      <ion-avatar #avatarImg>
        <img [src]="fotoPerfil" alt="Foto de Perfil">
      </ion-avatar>
      <ion-card-title class="ion-text-center">{{ nombre }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="logros">
    <ion-card class="horizontal separator" *ngFor="let logro of logros">
      <ion-item class="separator-card">
        <ion-icon name="{{ logro.icono }}" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ logro.titulo }}</h2>
          <p>{{ logro.subtitulo }}</p>
        </ion-label>
        <ion-button class="colorReclamar" fill="clear" slot="end">Reclamar</ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
