<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        MI PLANTILLA
      </ion-card-title>
      <p class="parrafoCards">Esta es ti plantilla actual. Aquí puedes comprar y vender los jugadores de tu equipo</p>
    </ion-card-header>
    <ion-card-content>
      <div class="cash-container">
        <ion-icon name="cash-outline" class="cash-icon golden"></ion-icon>
        <div class="cash-value-container">
          <span class="cash-value">{{ userCash }}</span>
          <span class="cash-label">Presupuesto</span>
        </div>
      </div>
      
      <!-- Aquí puedes agregar tu otro elemento -->
    </ion-card-content>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of userItems">
        <ion-card>
          <div class="image-container">
            <img [src]="item.image_url" class="player-image">
          </div>
          <ion-card-header>
            <ion-card-title class="player-name">{{ item.name }}</ion-card-title>
            <ion-card-title class="player-name">{{ item.surname }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Points:{{ item.points }}</p>
            <div class="price-row">
              <p>Price:</p>
              <span class="price-label">{{ item.price }}</span>
              <ion-icon name="cash-outline" class="price-icon"></ion-icon>
            </div>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="vender(item)">Vender</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        JUGADORES
      </ion-card-title>
      <p class="parrafoCards">Este es el mercado de jugadores. El precio y valoracion de cada jugador esta basada en su puntuacion, historico y otros factores.</p>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of items">
        <ion-card>
          <div class="image-container">
            <img [src]="item.image_url" class="player-image">
          </div>
          <ion-card-header>
            <ion-card-title class="player-name">{{ item.name }}</ion-card-title>
            <ion-card-title class="player-name">{{ item.surname }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Points:{{ item.points }}</p>
            <div class="price-row">
              <p>Price:</p>
              <span class="price-label">{{ item.price }}</span>
              <ion-icon name="cash-outline" class="price-icon"></ion-icon>

            </div>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="comprar(item)">Comprar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
