

ion-content {
  --ion-background-color: #ffffff !important;
}


.login-register-page {
  background-color: #F2CC8F;
}

.login-register-page ion-title {
  color: #FFFFFF;
}

.login-register-page ion-input {
  --color: #090808;
  --placeholder-color: #C9C9C9;
}

.login-register-page ion-button {
  --background: #F7D547;
  --color: #000000;
}

.login-register-page .register-link {
  color: #F7D547;
}

.formLogin{
  margin-top: -10%;
}

.imagen{
  margin-top: 1%;
}